<!DOCTYPE html>
<html>
  <head>
	<title>Class Page</title>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/project.css" rel="stylesheet">

	<!-- idk i'm just pasting this here-
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	-->

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>

	<!-- where we would put google analytics -->

  </head>

<body>
	<div class="cl">
        <!-- task bar from index -->
		<h2 style="text-align:left">{{course}}: {{title}}</h2>
		<div class="taskbox">
			<h2>To-Do:</h2>
			<div class="tasks">
				
				{{#each tasks}}
				<div class="task">
					<input type="checkbox" name="task1">
					<label for="task1"><a href={{url}}/{{id}}>{{task}}</a></label><br>
				</div>
				{{else}}
					<p style="font-style:italic;text-align:center;">No current tasks</p>
				{{/each}}

			</div>
		</div>

	</div>

</body>
</html>
