<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/project.css" rel="stylesheet">

	<!-- idk i'm just pasting this here-
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	-->

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>

	<script src="https://kit.fontawesome.com/341afe5983.js" crossorigin="anonymous"></script>

	<!-- where we would put google analytics -->

</head>

<body>
	<div class="searchbar">
		<input type="text" placeholder="Search meeting ID..." class="search">
		<button type="submit"><i class="fa fa-search"></i></button>
		<a class="logout" href="/">
			<i style="float: right; padding: 10px" class="fas fa-sign-out-alt"></i>
		</a>
	</div>

	<br>

	<div class="section">
		<h3>Ongoing Meetings:</h3>
		<p id="idk">¯\_(ツ)_/¯</p>
		<p id="idktxt">You currently have no ongoing meetings.</p>
	</div>

	<br>
	
	<div class="taskbox">
		<h2>To-Do:</h2>
		<div class="tasks">
			{{#each classes}} 
			<div class="taskclass">
				<h4>{{course}}</h4>
				{{#each tasks}}
				<div class="task">
					<input type="checkbox" name="task1">
					<label for="task1"><a href="{{url}}/{{id}}">{{task}}</a></label><br>
				</div>
				{{else}}
				<p style="font-style:italic;text-align:center;">No current tasks</p>
				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
	
	<br>

	<div class="section">
		<h3>My Courses:</h3> 
		{{#each classes}}
			<div class="course" id="{{id}}">
				<h4><a href="/classes/{{id}}">{{course}}</a></h4>
				<p>{{title}}</p>
			</div>
		{{/each}}
		<!--
		<button onclick="togglePopup()" class="addNewClass">
			<div class="plus">
				<i class="fas fa-plus"></i> 
			</div>
			<div class="addClass">
				<h4>Add new class</h4>
			</div>
			<div class="clearfix"></div>
		</button>
		-->

		<div class="popup" id="popup-1">
  			<div class="overlay"></div>
  			<div class="content">
    			<div class="close-btn" onclick="togglePopup()">&times;</div>
    			<h1>Add Class</h1>
				<div class="classname">
					<input type="text" id="className" placeholder="Course">
				</div>
				<div class="classdes">
					<input type="text" id="classDes" placeholder="Class Title">
				</div>
        		<form class="addClassBtn" > <!--action="/home"-->
            		<input type="submit" value="Add Class">
        		</form>
			</div>
		</div>
	</div>

	<br>

</body>
</html>
